<form [formGroup]="form" (ngSubmit)="submitForm()">

<!--  Error messages -->
  <div *ngIf="error && (form.touched || form.dirty)" class="cross-validation-error-message alert alert-danger">
    <div class="has-ino" style="color: red"> {{ error.error }} </div>
  </div>
  <div *ngIf="errorMessage && (form.touched || form.dirty)">
    <div class="has-ino" style="color: red"> {{ errorMessage }} </div>
  </div>

<!--  Email input -->
  <div class="form-group input-group-lg">
    <input class="form-control" placeholder="E-mail" formControlName="email" minlength="6" required>
  </div>
  <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)" class="alert alert-danger">
    <div *ngIf="form.controls['email'].errors.required">
      Email is required.
    </div>
    <div *ngIf="form.controls['email'].errors.minlength">
      E-mail has to be min length 6
    </div>
  </div>

<!--  Password input -->
  <div class="form-group input-group-lg">
    <input type="password" class="form-control" placeholder="Password" formControlName="password" minlength="4" required>
  </div>
  <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)" class="alert alert-danger">
    <div *ngIf="form.controls['password'].errors.required">
      Password is required.
    </div>
    <div *ngIf="form.controls['password'].errors.minlength">
      Password has to be min length 6
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-success btn-block btn-lg" [disabled]="!form.valid">Sign in</button>
  </div>
</form>
