body.app-modal-open {
  overflow: hidden;
}

app-modal {
  display: none;
}

.app-modal {
  z-index: 1000;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.app-modal-body {
  padding: 20px;
  background: #fff;
}


.app-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.75;
  z-index: 900;
}


/*TODO change modal size from px to % */
