.options{
  float: right;
  margin-left: auto;
}

.btn,
.btn-outline-secondary{
  margin: 5px;
}

.card-header{
  font-size: 3em;
  font-weight: bold;
}

.body-header{
  font-size: 1.5em;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'ingredients picture';
  grid-gap: 10px;
  /*background-color: #2196F3;*/
  padding: 10px;
}

.picture{
  text-align: center;
}

.with-picture{
  border-radius: 20px;
  box-shadow: 2px 2px 30px gray;
}


.card{
  height: 80vh;
  overflow: auto;
}

.add-to-list{
  margin-left: 20px;
  font-size: 0.85vw;
}
