nav{
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

.navbar,
.navbar-light{
  box-shadow: 4px 2px 2px black;
  opacity: 0.9;
}

#registration_button,
#login_button,
#logout{
  box-shadow: 4px 2px 2px dimgrey;
  font-size: 1em;
  margin-right: 4vh;
}

#title {
  font-size: 4vw;
  letter-spacing: 3px;
  display: contents;
}

#title:before {
  color: #085317;
  content: "Food";
}

#user_login {
  margin-right: 4vh;
  margin-left: auto;
}

#logo{
  display: inline-flex;
  align-items: center;
}

#broccoli-icon {
  width: 3vw;
}
