<form [formGroup]="productForm" (ngSubmit)="addProduct(); productForm.reset()" id="add-product-form">

    <mat-form-field class="example-full-width">
      <input type="text"
             placeholder="Produkt"
             aria-label="text"
             matInput
             formControlName="productName"
             [matAutocomplete]="auto">
      <mat-error *ngIf="productForm.controls['productName'].errors?.required">{{ errorMessage }}</mat-error>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  <mat-form-field class="select">
    <mat-label>Jednostka</mat-label>
    <mat-select ngModel="selectedUnit" formControlName="unit">
      <mat-option *ngFor="let unit of units" [value]="unit">
        {{unit}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="text"
           pattern="[0-9]+([\.,][0-9]+)?"
           placeholder="Ilość"
           aria-label="text"
           matInput
           formControlName="quantity">
  </mat-form-field>

  <div class="example-button-container">
    <button mat-mini-fab class="add-button" [disabled]="!productForm.valid">+</button>
  </div>

</form>
