input {
  font-size: 12px !important;
}

td {
  margin-right: 5px;
  padding: 5px;
}

table{
  border-spacing: 1em .5em;
}

textarea{
  margin-top: 5px;
}

.add-button {
  width: 20px;
  height: 20px;
  line-height: 16px;
}

.add-product {
  display: inline-flex;
  width: auto;
  height: auto;
}

#remove-product {
  width: 16px;
  height: auto;
}



