<form [formGroup]="recipeForm" (ngSubmit)="submitForm()">

  <!--  Error messages -->
  <div *ngIf="error && (recipeForm.touched || recipeForm.dirty)" class="cross-validation-error-message alert alert-danger">
    <div class="has-ino" style="color: red"> {{ error.error }} </div>
  </div>
  <div *ngIf="errorMessage && (recipeForm.touched || recipeForm.dirty)" class="cross-validation-error-message alert alert-danger">
    <div class="has-ino" style="color: red"> {{ errorMessage }} </div>
  </div>


  <!--  Title input -->
  <div class="form-group input-group-lg" *ngIf="this.recipe != null">
    <input class="form-control" value="{{ this.recipe.title }}" formControlName="title" minlength="6" required>
  </div>
  <div *ngIf="recipeForm.controls['title'].invalid && (recipeForm.controls['title'].dirty || recipeForm.controls['title'].touched)" class="alert alert-danger">
    <div *ngIf="recipeForm.controls['title'].errors.required">
      Tytuł jest wymagany.
    </div>
    <div *ngIf="recipeForm.controls['title'].errors.minlength">
      Tytuł musi miec conajmniej 4 znaki.
    </div>
  </div>

  <table *ngIf="products && products.length">
    <ul>
      <div *ngFor='let product of products; let i= index'>
        <li>
          <tr>
            <td>{{product.name }}</td>
            <td>{{productsQuantity[i].unit ? productsQuantity[i].unit : ''  }}</td>
            <td>{{productsQuantity[i].quantity ? productsQuantity[i].quantity : ''  }}</td>
            <td>
              <a [routerLink]="" (click)="removeProduct(product)">
                <img src="https://img.icons8.com/small/16/000000/cancel--v1.png" id="remove-product"/>
              </a>
            </td>
          </tr>
        </li>
      </div>
    </ul>
  </table>

  <app-add-product></app-add-product>

  <!--  Method input -->
  <div class="form-group input-group-lg" *ngIf="this.recipe != null">
    <textarea type="text" rows="5" cols="30" class="form-control" formControlName="method" style="resize: none;" required> {{ this.recipe.method }} </textarea>
  </div>
  <div *ngIf="recipeForm.controls['method'].invalid && (recipeForm.controls['method'].dirty || recipeForm.controls['method'].touched)" class="alert alert-danger">
    <div *ngIf="recipeForm.controls['method'].errors.required">
      Sposób wykonania jest wymagany.
    </div>
    <div *ngIf="recipeForm.controls['method'].errors.minlength">
      Sposób wykonania musi mieć conajmniej 6 znaków.
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-success btn-block btn-lg" [disabled]="!recipeForm.valid">Save</button>
  </div>
</form>
