<form [formGroup]="recipeForm" (ngSubmit)="submitForm()">

  <!--  Error messages -->
  <div *ngIf="error && (recipeForm.touched || recipeForm.dirty)" class="cross-validation-error-message alert alert-danger">
    <div class="has-ino" style="color: red"> {{ error.error }} </div>
  </div>
  <div *ngIf="errorMessage && (recipeForm.touched || recipeForm.dirty)" class="cross-validation-error-message alert alert-danger">
    <div class="has-ino" style="color: red"> {{ errorMessage }} </div>
  </div>

  <!--  Title input -->
  <div class="form-group input-group-lg">
    <input class="form-control" [(ngModel)]='recipe.title' formControlName="title" minlength="6" required>
  </div>
  <div *ngIf="recipeForm.controls['title'].invalid && (recipeForm.controls['title'].dirty || recipeForm.controls['title'].touched)" class="alert alert-danger">
    <div *ngIf="recipeForm.controls['title'].errors.required">
      Tytuł jest wymagany.
    </div>
    <div *ngIf="recipeForm.controls['title'].errors.minlength">
      Tytuł musi miec conajmniej 4 znaki.
    </div>
  </div>

  <!--  Method input -->
  <div class="form-group input-group-lg">
    <textarea type="text" rows="5" cols="30" class="form-control" [(ngModel)]='recipe.method' formControlName="method" style="resize: none;" required></textarea>
  </div>
  <div *ngIf="recipeForm.controls['method'].invalid && (recipeForm.controls['method'].dirty || recipeForm.controls['method'].touched)" class="alert alert-danger">
    <div *ngIf="recipeForm.controls['method'].errors.required">
      Sposób wykonania jest wymagany.
    </div>
    <div *ngIf="recipeForm.controls['method'].errors.minlength">
      Sposób wykonania musi mieć conajmniej 6 znaków.
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-success btn-block btn-lg" [disabled]="!recipeForm.valid">Save</button>
  </div>
</form>
