<section class="example-section">
  <span class="example-list-section">
    <mat-checkbox class="example-margin"
                  [checked]="allComplete"
                  [indeterminate]="someComplete()"
                  (change)="setAll($event.checked)">
      {{task.name}}
    </mat-checkbox>
  </span>
  <span class="example-list-section">
    <ul>
      <li *ngFor="let subtask of task.subtasks">
        <mat-checkbox [(ngModel)]="subtask.completed"
                      [color]="subtask.color"
                      (ngModelChange)="updateAllComplete()">
          {{subtask.name }}
          {{subtask.unit }}
          {{subtask.quantity}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
  <button class="btn btn-success btn-block btn-lg" (click)="saveToList()">Zapisz do listy</button>
</section>
