<div class="card">
  <app-dashboard></app-dashboard>
  <!--  Recipes  -->
  <div class="card-body">
    <div class="grid">

      <div class="lists-card" *ngFor='let recipe of (shoppingLists$ | async)'>
        <mat-card>
          <div class="card-title">
            <h2>{{recipe.title}}</h2>
            <button class='btn btn-outline-secondary'
                    (click)="removeList(recipe.id)"
                    style='width:80px'> Usuń
            </button>
          </div>
          <mat-list role="list" *ngIf="recipe.products.length">
            <ul *ngFor='let product of recipe.products'>
              <li>
                <mat-list-item role="listitem">{{product.product_name}}
                  {{product.unit}}
                  {{product.quantity}}</mat-list-item>
              </li>
            </ul>
          </mat-list>
        </mat-card>
      </div>

    </div>
  </div>
</div>
