@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");

html, body{
  height: auto;
  width: 100%;
  font-style: normal;
  font-family: 'Manrope', sans-serif !important;
  font-weight: 300;
}

body {
  background-image: url("./assets/basil1.jpg") ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}
