/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

div.card-header {
  font-size: large;
}

div.card {
  /*margin-top: 10px;*/
  margin: 10px;
  opacity: 0.8;
}

html, body{
  height: auto;
  width: 100%;
}
body {
  background-image: url("~assets/background.jpg") ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}


.button {
  background-color: #e6e6e6;
  opacity: 1;
  border-radius: 5px;
}

h1 {
  font-weight: 100;
  text-align: -webkit-left;
  font-size: 5em;
  letter-spacing: 3px;
  color: #F2433B;
  text-shadow: 3px 3px #5e2222;
}


.table {
  width: 70%;
  height: auto;
  background-color: white;
  opacity: 0.8;
  margin: auto;
}

#null {
  text-align: center;
  font-size: 2em;
  color: black;
}

