<!--<div class="card">-->
<!--  <div class="card-body">-->
<!--    <div class="container-fluid">-->
<!--      <div class="footer">-->
<!--        <div class="text-center" id="develop">Developed by:</div>-->
<!--        <div class="text-center">-->
<!--          <div class="text-center">Katarzyna Sikora</div>-->
<!--        </div>-->

<!--        <div class="text-center">sikora.katarzyna.waw@gmail.com</div>-->
<!--        <div class="text-center">-->
<!--          Git: <a href="https://github.com/Kasia-Sikora/" target="_blank">Kasia-Sikora</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<nav class="navbar navbar-light bg-light">
  <div class="text-center" id="develop">Developed by:</div><br>
    <div class="text-center">Katarzyna Sikora</div>

  <div class="text-center">sikora.katarzyna.waw@gmail.com</div>
  <div class="text-center">
    Git: <a href="https://github.com/Kasia-Sikora/" target="_blank">Kasia-Sikora</a>
  </div>

</nav>
