<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/tomato.png" alt="tomato"/>
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Katarzyna Sikora</h3>
      </div>

      <div class="text-center">sikora.katarzyna.waw@gmail.com</div>
      <div class="text-center">
        <a href="https://github.com/Kasia-Sikora/">Git: Kasia-Sikora</a>
      </div>
    </div>
  </div>
</div>
